body {
	font-family: 'Telex', sans-serif;
	color: #212121;
}

.container {
    width: 100%;
    height: 100%;
}

.container .content {
    margin: 0 auto;
    max-width: 400px;
}

.logo {
	margin: 0 auto;
	display: block;
	max-width: 400px;

	img {
		width: 100%;
		height: 100%;
	}
}

#mc_embed_signup {
	width: 100%;
	background: red;

	label {
		font-family: 'Telex', sans-serif;
	}

	.indicates-required {
		display: none;
	}

	span.asterisk {
		display: none;
	}

	input[type="email"] {
		width: 100% !important;
	}

	input[type="submit"] {
		font-family: 'Telex', sans-serif;
		width: 100% !important;
		margin: 0 auto !important;
		float: none;
		display: block;
		background: #6FA8A6;

		&:hover {
			background: darken(#6FA8A6, 10%);
		}
	}

}
